:root {
  --color-brand-primary: #3481b2;
  --color-brand-primary-dark: #013660;
  --color-brand-secondary: #fb601d;

  --color-academies-english: #002877;
  --color-academies-game: #003838;
  --color-academies-maker: #832821;
  --color-academies-robotics: #230046;
  --color-academies-inclusion: #710051;

  --color-background-default: #f4fbff;
  --color-background-white: #ffffff;

  --color-grey-50: #f0f0f0;
  --color-grey-100: #e1e1e1;
  --color-grey-200: #c3c3c3;
  --color-grey-300: #a6a6a6;
  --color-grey-400: #888888;
  --color-grey-500: #6a6a6a;
  --color-grey-600: #555555;
  --color-grey-700: #404040;
  --color-grey-800: #2a2a2a;
  --color-grey-900: #151515;
  --color-grey-1000: #0b0b0b;

  --color-neutral-white: #ffffff;
  --color-neutral-black: #000000;

  --color-primary-50: #ebf2f7;
  --color-primary-100: #d6e6f0;
  --color-primary-200: #aecde0;
  --color-primary-300: #85b3d1;
  --color-primary-400: #5d9ac1;
  --color-primary-500: #3481b2;
  --color-primary-600: #2a678e;
  --color-primary-700: #1f4d6b;
  --color-primary-800: #153447;
  --color-primary-900: #0a1a24;
  --color-primary-1000: #050d12;

  --color-secondary-50: #ffefe8;
  --color-secondary-100: #fedfd2;
  --color-secondary-200: #fdbfa5;
  --color-secondary-300: #fda077;
  --color-secondary-400: #fc804a;
  --color-secondary-500: #fb601d;
  --color-secondary-600: #c94d17;
  --color-secondary-700: #973a11;
  --color-secondary-800: #64260c;
  --color-secondary-900: #321306;
  --color-secondary-1000: #190a03;

  --color-red: #d41f1f;

  --color-gradient-1: linear-gradient(90deg, #0eb4b7ff 0%, #08d788ff 100%);
  --color-gradient-2: linear-gradient(90deg, #013660ff 0%, #135086ff 100%);
}
